---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 13/200
      Etag:
      - W/"c699ffd4c4720c2ff8561d53b0d5017b"
    body:
      encoding: UTF-8
      string: '{"data":{"accounts":[{"id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","name":"Uploading
        Account","type":"checking","on_budget":true,"closed":false,"note":null,"balance":110000,"cleared_balance":0,"uncleared_balance":110000,"transfer_payee_id":"83e8b470-8c4b-42b3-a2a6-134a42a6e71e","deleted":false},{"id":"c791437c-6660-4e86-b41e-50e70e6ff34d","name":"My
        Checking Account","type":"checking","on_budget":true,"closed":false,"note":"Yada,
        yada","balance":400000,"cleared_balance":-600000,"uncleared_balance":1000000,"transfer_payee_id":"f808ff21-ebe2-42c6-ae8d-5375cf1f8c3f","deleted":false}]}}'
  recorded_at: Sat, 27 Oct 2018 11:41:35 GMT
recorded_with: VCR 4.0.0
