---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"memo":"A
        very long memo that will be limited to 50 charac","payee_name":"A very long
        payee name that will be limited to 50 "}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"648ab195e75a00ebf0af458a1536bf4d"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["18d795a1-c7c7-4214-9a0b-17d8b912e414"],"transaction":{"id":"18d795a1-c7c7-4214-9a0b-17d8b912e414","date":"2018-09-15","amount":-10000,"memo":"A
        very long memo that will be limited to 50 charac","cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"5607f3ab-4fe1-4774-b318-2fc6145fab43","payee_name":"A
        very long payee name that will be limited to 50 ","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]}}}'
  recorded_at: Thu, 20 Dec 2018 20:09:39 GMT
recorded_with: VCR 4.0.0
