---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"memo":"Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores ","payee_name":"A very long payee
        name that will be limited to 50 "}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"87a6cee2046a5e1b3df6fb3ec40bcd21"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["643b88ce-6162-4bdf-9004-f793caf7f8e1"],"transaction":{"id":"643b88ce-6162-4bdf-9004-f793caf7f8e1","date":"2018-09-15","amount":-10000,"memo":"Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores ","cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"5607f3ab-4fe1-4774-b318-2fc6145fab43","payee_name":"A
        very long payee name that will be limited to 50 ","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"matched_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]}}}'
  recorded_at: Sun, 23 Jun 2019 12:27:01 GMT
recorded_with: VCR 4.0.0
