---
http_interactions:
- request:
    method: post
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-09-15","amount":-10000,"memo":"Yada,
        yada","payee_name":"Kramer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 4/200
      Etag:
      - W/"c770a8f620a3df4f67881ac26f8543b0"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["91965272-b210-479a-9577-cc091e792736"],"transaction":{"id":"91965272-b210-479a-9577-cc091e792736","date":"2018-09-15","amount":-10000,"memo":"Yada,
        yada","cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"90d014b8-295a-4409-bf08-1c2715ea3a46","payee_name":"Kramer","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]}}}'
  recorded_at: Thu, 20 Dec 2018 20:10:50 GMT
- request:
    method: put
    uri: https://api.youneedabudget.com/v1/budgets/da64e638-63f0-41fc-97a2-cc7f38c8b034/transactions/91965272-b210-479a-9577-cc091e792736
    body:
      encoding: UTF-8
      string: '{"transaction":{"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","date":"2018-10-15","amount":-20000,"memo":"Yada,
        yada, yada","payee_name":"Cosmo Kramer","payee_id":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 5/200
      Etag:
      - W/"2fc97e6249b47b415cde0452831d77c7"
    body:
      encoding: UTF-8
      string: '{"data":{"transaction_ids":["91965272-b210-479a-9577-cc091e792736"],"transaction":{"id":"91965272-b210-479a-9577-cc091e792736","date":"2018-10-15","amount":-20000,"memo":"Yada,
        yada, yada","cleared":"uncleared","approved":false,"flag_color":null,"account_id":"eccab6f8-2d96-47b2-a19c-4c996a46ae65","account_name":"Uploading
        Account","payee_id":"801d7fc4-7829-400b-aa09-60e9b6047400","payee_name":"Cosmo
        Kramer","category_id":null,"category_name":null,"transfer_account_id":null,"transfer_transaction_id":null,"import_id":null,"deleted":false,"subtransactions":[]}}}'
  recorded_at: Thu, 20 Dec 2018 20:10:50 GMT
recorded_with: VCR 4.0.0
