<h1>Privacy Policy</h1>

<p>This policy applies to all information collected or submitted to YNAB Multi-Currency.</p>

<h2>Information We Collect</h2>

<p>We currently collect the name of the YNAB budgets and accounts that you wish to convert for the purpose of displaying them in your dashboard. We also collect data required for performing conversions, namely the original and destination currencies of your converted accounts.</p>

<p>We temporarily store your YNAB transactions during conversion. They are destroyed from our database as soon as they are uploaded to your YNAB account. If you abort a conversion after the transactions have been saved on our database, they will be automatically destroyed from our servers at the latest one hour after you initiated the conversion.</p>

<p>We save your e-mail and hashed password on sign-up. We may use cookies on the site to keep you logged in. We may also store basic technical information, such as your IP address.</p>

<h2>Third-Party Sharing</h2>

<p>We will not distribute your personal information to outside parties without your consent.</p>

<h2>Your Consent</h2>

<p>By using our site, you consent to our privacy policy.</p>

<h2>Changes to This Policy</h2>

<p>If we decide to change our privacy policy, we will post those changes on this page. Summary of changes so far:</p>

<ul>
  <li>September 10, 2018: First published.</li>
</ul>
